.btn-lg {
    background-color: green !important;
    width: 13%;
    font-weight: bold;
    margin: 1%;
}
.form-group {
    margin-top: 3%;
    margin-bottom: 3%;
}
.btn-lg:hover, .btn-lg:focus, .btn-lg:active, .open>.dropdown-toggle.btn-lg {
    background-color: darkgreen !important;
}
#signup.btn {
    background-color: #FF914D;
    border-color: #FF914D;
}
#signinButton.btn {
    background-color: hsl(23, 100%, 65%);
    border-color: #FF914D;
}
.col-sm-1 {
    width: 10%;
}
.col-sm-5 {
    width: 20%;
    height: 40%;
}
.footer {
    font-family: 'Inter';
    margin-top: 5%;
}
p1 {
    font-size: 22px;
    font-weight: bolder;
    color: #060606;
}
p2 {
    font-size: 22px;
    font-weight: bolder;
    color: #008037;
}
p3 {
    font-size: 22px;
    font-weight: bolder;
    color: #FF914D;
}
p4 {
    font-size: 14px;
    font-weight: 400;
}
p5 {
    font-size: 14px;
    font-weight: 100;
    color: silver;
}
p6 {
    font-size: 18px;
    font-family: 'Inter';
}
p7 {
    font-size: 36px;
    font-family: 'Inter';
}

h1.heading {
    color:salmon;
    text-align: center;
}

.book .form form{
    background-color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    border-radius: 80px;
    border: 10px dotted darkgreen;
}

input[type="submit"] {
    background-color: #FF914D;
    color: white;
    padding: 5px 5px;
    padding-top: 2px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }

  input[type="text"], input[type="datetime-local"], input[type="email"], input[type="number"] {
    background-color: #ffff;
    border-color: #FF914D;
    border-style:groove;
    padding: 5px 5px;
    padding-top: 5px;
    font-size: 15px;
  }