<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login Screen</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <p>Welcome to UTD Online Tutoring Test</p>
    <p1>Please enter your login credentials</p1>
    <form action="@{/login}" method="GET">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit" data-inline="true">Login</button>
    </form>
    <button data-inline="true">Reset Password</button> 
</body>

</html>