<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tutor Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <script defer src="/static/register-tutor.js"></script>
    <link href="/static/styles.css" rel="stylesheet" />
</head>

<header>
    <div class="row justify-content-center">
        <div class="col-lg-1" style="width: 20%;">
            <img src="/static/images/v1_19.png" width="100%" height="100%">
        </div>
    </div>
    <div class="row align-items-end justify-content-center" style="margin: 10%; margin-top: 2%; margin-bottom: 2%;">
        <div class="col-sm-2">
            <button id="home" type="button" class="btn btn-primary btn-lg"
                style="width: 90%; height: 90%;">HOME</button>
        </div>
        <div class="col-sm-2">
            <button id="about" type="button" class="btn btn-primary btn-lg"
                style="width: 90%; height: 90%;">ABOUT</button>
        </div>
        <div class="col-sm-2">
            <button id="suppSubj" type="button" class="btn btn-primary btn-lg"
                style="width: 90%; height: 90%;">SUBJECTS</button>
        </div>
        {% if session['key'] is defined %}
            {% block signed_in %}
            <div class="col-sm-2">
                <button id="requestAppointment" type="button" class="btn btn-primary btn-lg"
                    style="width: 90%; height: 90%;">APPOINTMENTS</button>
            </div>
            <div class="col-sm-2">
                <button id="profile" type="button" class="btn btn-primary btn-lg"
                style="width: 90%; height: 90%;">PROFILE</button>
            </div>
            <div class="col-sm-2">
                <button id="logout" type="button" class="btn btn-primary btn-lg"
                style="width: 90%; height: 90%;">LOGOUT</button>
            </div>
            {% endblock signed_in %}
        {% else %}
            {% block not_signed_in %}
            <div class="col-sm-2">
                <button id="signin" type="button" class="btn btn-primary btn-lg"
                style="width: 90%; height: 90%;">SIGN IN</button>
            </div>
            {% endblock not_signed_in %}
        {% endif %}
    </div>
</header>


<body>
    <div class="row justify-content-center">
        <div class="col-sm-5" style="width: 25%;">
            <form>
                <div class="form-group">
                    <label for="inputFirstName">First Name</label>
                    <input type="text" class="form-control" id="input-first-name" placeholder="First Name" required>
                    <small id="required" class="form-text">* Required</small>
                </div>
                <div class="form-group">
                    <label for="inputMiddleName">Middle Name</label>
                    <input type="text" class="form-control" id="input-middle-name" placeholder="Middle Name">
                </div>
                <div class="form-group">
                    <label for="inputLastName">Last Name</label>
                    <input type="text" class="form-control" id="input-last-name" placeholder="Last Name" required>
                    <small id="required" class="form-text">* Required</small>
                </div>
                <div class="form-group">
                    <label for="inputNetID">NetID</label>
                    <input type="text" class="form-control" id="input-net-id" placeholder="NetID" required>
                    <small id="netIDHelp" class="form-text text-muted">Use your UTD provided NetID</small>
                    <br>
                    <small id="required" class="form-text">* Required</small>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="input-password" placeholder="Password" required>
                    <small id="required" class="form-text">* Required</small>
                </div>
                <div class="form-group">
                    <label for="aboutMe">About Me</label>
                    <textarea class="form-control" id="tutor-about-me" rows="4" required></textarea>
                    <small id="required" class="form-text">* Required</small>
                </div>
                <div class="form-group">
                    <label for="tutorPicture">Picture</label>
                    <br>
                    <small id="pictureHelp" class="form-text text-muted">Supported file types: PNG, JPEG/JPG</small>
                    <br>
                    <input type="file" name="file" class="form-control-file" accept='.png, .jpg, .jpeg' id="tutor-picture" required>
                    <br>
                    <small id="required" class="form-text">* Required</small>
                </div>

                <div class="form-group">
                    <label for="supportedSubjects">Supported Subjects</label>
                    <br>
                    <small id="supportedSubjectsHelp" class="form-text text-muted">Input subjects as "CS 4485" separated by newlines</small>
                    <textarea class="form-control" id="tutor-supported-subjects" rows="4" required></textarea>
                    <small id="required" class="form-text">* Required</small>
                </div>
                <div class="form-group">
                    <label for="availability">Availability</label>
                    <br>
                    <small id="availabilityHelp" class="form-text text-muted">Input timeslots as "Monday 14:30-15:30" separated by newlines</small>
                    <textarea class="form-control" id="tutor-availability" rows="4" required></textarea>
                    <small id="required" class="form-text">* Required</small>
                </div>
                <div class="form-group">
                    <button id="signup-student" type="button" class="btn btn-primary">Student Signup</button>
                </div>
                <div class="w-100"></div>
                <div class="col-sm-5" style="width: 25%;">
                    <button id="signup" type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</body>

<footer>
    <div class="footer">
        <hr>
        <div class="container justify-content-center">
            <p1>Hello,</p1>
            <p2> we are </p2>
            <p3>ETutor</p3>
            <br>
            <p4>We are here to help disadvantaged students to achieve their academic goals. *</p4>
            <br>
            <br>
            <br>
            <p5>We have tutors available for a wide variety of subjects.</p5>
            <br>
            <p5>*Students are expected to exercise independent thought and expression. The tutors have the right to ask
                for
                the source of coursework content
                and may or may not be able to assist with it.
            </p5>
        </div>
    </div>
</footer>

</html>